body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('bgred4.webp'); /* If image is in the same directory */
    background-repeat: no-repeat;
    background-size: cover;
}
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #000000;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 5px;
}

audio {
    vertical-align: middle;
}

audio::-webkit-media-controls-panel {
    background-color: #800000;
    border-radius: 5px;
    padding: 5px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
    color: white;
    font-size: 16px;
    cursor: pointer;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: white;
    font-size: 14px;
}
