body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

body {
    background-image: url('bgred2.jpg'); /* If image is in the same directory */
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #000000;
}

h2, .input-group label {
    color: white; /* Set text color to white */
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 10px); /* Adjusting for the input padding */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #555; /* Set input text color */
    background-color: #fff; /* Set input background color */
}

.input-group input:focus {
    border-color: #4CAF50; /* Highlight border color on focus */
}

