<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
    <div class="login-container">
        <form action="validate" method="post" class="login-form">
            <h2>USER LOGIN</h2>

            <div class="input-group">
                <label>Email:</label><br />
                <input type="text" name="email">
            </div>

            <div class="input-group">
                <label>Password:</label><br />
                <input type="password" name="password">
            </div>

            <input type="submit" value="LOGIN" class="submit-btn">
        </form>
    </div>
</body>
</html>
